---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/cv/TimeLine.astro";
---

<BaseLayout title="Resume" sideBarActiveItemID="cv">
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Profile</div>
  </div>

  <div class="mb-10 text-justify">
    Certified penetration tester and cyber security analyst, experiencedskills
    in leadership and management.
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Education</div>
  </div>

  <div class="time-line-container grid gap-4 mb-10">
    <TimeLineElement
      title="Higher Institute of Applied Sciences and Technology of Sousse"
      subtitle="National Diploma in Software Engineering"
      period="2016-2022"
      location="Sousse, Tunisia 🇹🇳"
    >
      <ul class="list-disc pl-7">
        <li>
          Took up classes in programming, operating systems, networking,
          computer architecture, cryptography, network security...
        </li>
        <li>Took up specialization courses in software engineering.</li>
      </ul>
    </TimeLineElement>
    <TimeLineElement
      title="Spokane Falls Community College"
      subtitle="Network Security Certificate Program"
      period="2018-2019"
      location="Washington, USA 🇺🇸"
    >
      <ul class="list-disc pl-7">
        <li>
          Selected to be an exchange student in a very competitive program
          funded by the U.S. government
        </li>
        <li>
          Took classes in network security and digital forensics (GPA: 4.0 - Top
          of the program)
        </li>
      </ul>
    </TimeLineElement>
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Experience</div>
  </div>

  <div class="time-line-container mb-10 grid gap-4">
    <TimeLineElement
      title="Application Security Software Developer"
      subtitle="imc learning AG"
      period="11/2022-Present"
      location="Saarbrücken, Germany 🇩🇪"
    >
      <ul class="list-disc pl-7">
        <li>Maintain the security of the company software</li>
        <li>
          Exploit and patch web vunlerabilities such as XSS, SQLi, IDOR....
        </li>
        <li>Manage and update the dependencies</li>
        <li>Automate deployment and dependency update</li>
        <li>Read and process pentest reports</li>
        <li>Test PoCs</li>
        <li>Create and update docker containers</li>
        <li>Process security scanners reports</li>
        <li>Document issues and processes</li>
      </ul>
    </TimeLineElement>
    <TimeLineElement
      title="Software Developer"
      subtitle="Reportix GmbH"
      period="02/2022-10/2022"
      location="Mannheim, Germany 🇩🇪"
    >
      <ul class="list-disc pl-7">
        <li>
          Conceived and executed the development of a dynamic web application
          employing React and Java. This platform assesses companies'
          environmental, social, and governance standings (ESG), yielding
          comprehensive scores to gauge their performance in these crucial
          areas.
        </li>
        <li>
          Established a robust data pipeline to handle the processing of
          publicly released ESG reports from various companies. This pipeline
          efficiently generates scores derived from their ESG performance,
          contributing to a comprehensive evaluation of their sustainability
          efforts.
        </li>
        <li>
          Engineered specialized plugins for Knime, a data science software,
          facilitating the seamless incorporation of company API outputs into
          the customers data pipeline.
        </li>
      </ul>
    </TimeLineElement>
    <TimeLineElement
      title="DevSecOps Engineer (Short Contract)"
      subtitle="Diginov Inc"
      period="07/2021-09/2021"
      location="Sousse, Tunisia 🇹🇳"
    >
      <ul class="list-disc pl-7">
        <li>
          Constructed a continuous integration and continuous deployment (CI/CD)
          pipeline for a pair of distinct Node.js applications utilizing
          Jenkins, Gitlab CI, and Docker.
        </li>
        <li>
          Enhanced the pipeline's security by integrating automated Static
          Application Security Testing (SAST) and Dynamic Application Security
          Testing (DAST) tools like Snyk, Trivy, and OWASP ZAP.
        </li>
      </ul>
    </TimeLineElement>
    <TimeLineElement
      title="Full Stack Developer (Short Contract)"
      subtitle="ECOCloud Inc"
      period="07/2020-09/2020"
      location="Sfax, Tunisia 🇹🇳"
    >
      <ul class="list-disc pl-7">
        <li>
          Conceptualized and developed a web-based videoconferencing
          application, seamlessly integrating Keycloak—an authentication server
          enabling single sign-on with robust Identity and Access Management
          capabilities.
        </li>
      </ul>
    </TimeLineElement>
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Organizations</div>
  </div>

  <div class="time-line-container mb-10 grid gap-4">
    <TimeLineElement
      title="President"
      subtitle="Cyber-Trace Club"
      period="09/2020-09/2021"
      location="Sousse, Tunisia 🇹🇳"
    >
      <div>With a visionary team I managed to:</div>
      <ul class="list-disc pl-7">
        <li>Write the club's internal policies</li>
        <li>
          Establish committees dedicated to cybersecurity training, marketing,
          and human resources
        </li>
        <li>
          Create a full training path where we taught the members about the web
          vulnerabilities (SQLi, XSS, CSRF...), how to exploit them and defend
          against them
        </li>
        <li>
          Organize an event where we introduced our own CTF (Capture The Flag)
          competition
        </li>
      </ul>
    </TimeLineElement>
    <TimeLineElement
      title="Member"
      subtitle="IEEE ISSATSO Student Branch"
      period="09/2017-11/2018"
      location="Sousse, Tunisia 🇹🇳"
    >
      <ul class="list-disc pl-7">
        <li>Played twice the IEEEXtreme, a problem solving competition</li>
      </ul>
    </TimeLineElement>
  </div>
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Professional Certifications</div>
  </div>
  <div class="time-line-container mb-10 grid gap-4">
    <TimeLineElement
      title="AWS Certified Cloud Practitioner"
      subtitle="AWS"
      period="25/03/2023"
    >
      <div>
        Validates the foundational, high-level understanding of AWS Cloud,
        services, and terminology
      </div>
    </TimeLineElement>
    <TimeLineElement
      title="Cloud DevOps Engineer"
      subtitle="Udacity Nanodegree Program"
      period="08/03/2023"
    >
      <div>
        Acquired skills in cloud computing, infrastructure automation, CI/CD
        pipelines, containerization, monitoring, security, scripting, version
        control, and collaboration tools
      </div>
    </TimeLineElement>
    <TimeLineElement
      title="Cyber Security Analyst+ (CySA+)"
      subtitle="CompTIA"
      period="21/05/2020"
    >
      <div>
        Leverage intelligence and threat detection techniques, Analyze and
        interpret data, Identify and address vulnerabilities, Suggest
        preventative measures, Effectively respond to and recover from incidents
      </div>
    </TimeLineElement>
    <TimeLineElement title="Pentest+" subtitle="CompTIA" period="14/02/2020">
      <div>
        Planning and Scoping, Information Gathering and Vulnerability
        Identification, Attacks and Exploits, Penetration Testing Tools,
        Reporting and Communication
      </div>
    </TimeLineElement>
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Professional Skills</div>
  </div>
  <div class="grid gap-4 mb-10">
    <ul class="list-disc md:columns-5 columns-2 mx-6">
      <li>Scripting</li>
      <li>Web/mobile development</li>
      <li>Secure Software Development</li>
      <li>Version Control Systems</li>
      <li>Debugging</li>
      <li>Containerization</li>
      <li>Virtualization</li>
      <li>CI/CD Pipelines</li>
      <li>Dependency Management</li>
      <li>Linux Adminstration</li>
      <li>Cloud Services</li>
      <li>Ethical Hacking</li>
      <li>Pentesting</li>
      <li>Vulnerability Management</li>
      <li>OWASP TOP 10</li>
      <li>Repoting and Documentation</li>
    </ul>
  </div>
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Languages</div>
  </div>
  <div class="grid gap-4 mb-10">
    <ul class="list-item md:columns-4 columns-2 mx-6">
      <li class="list-disc mb-3">
        Arabic <span class="italic block"> Bilingual Profeciency</span>
      </li>
      <li class="list-disc mb-3">
        English <span class="italic block"> Full Professional Profeciency</span>
      </li>
      <li class="list-disc mb-3">
        French <span class="italic block">Professional Profeciency</span>
      </li>
      <li class="list-disc mb-3">
        German <span class="italic block">Elementary Level (A1)</span>
      </li>
    </ul>
  </div>
</BaseLayout>
